# QLSC612 assignment

In [77]:
import pandas as pd 
import numpy as np
import statsmodels
from scipy import stats
from scipy import stats as sst
from statsmodels.formula.api import ols

In [25]:
data= pd.read_csv('brainsize.csv', sep=';', na_values='.',index_col=0)
data.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
1  Female   133  132  124   118.0    64.5     816932
2    Male   140  150  124     NaN    72.5    1001121
3    Male   139  123  150   143.0    73.3    1038437
4    Male   133  129  128   172.0    68.8     965353
5  Female   137  132  134   147.0    65.0     951545

In [71]:
pvalue=np.zeros((1000,2))
for i in range (0,1000):
    np.random.seed(i)
    mu, sigma = 100, 10 # mean and standard deviation
    partY=np.random.normal(mu, sigma,size=len(data.index))
    data['prediction'] = partY
    pvalue[i,]=sst.pearsonr(data['VIQ'], data['prediction'])

In [74]:
np.argmin(pvalue[:,1])
pvalue[789,]

array([0.4284642 , 0.00580954])

In [75]:
pvalue[1,]

array([0.02976921, 0.8553104 ])